{$COMP_PROTOCOL}://{$COMP_HOST} {
    route {
        handle /grafana/api/live* {
            reverse_proxy grafana:3000
        }

        handle /grafana* {
            reverse_proxy grafana:3000
        }

        handle_path /osm* {
            reverse_proxy osmcache:8080
        }

        handle {
            rate_limit {
                zone dynamic {
                    key    {remote_host}
                    events 10
                    window 2s
                }
            }

            reverse_proxy insigno:8000
        }
    }
}