<hr>

        <p>
            Questa mail è stata inviata da <b class="insigno">Insigno</b>, l'applicazione di <b class="mindshub">MindsHub A.P.S.</b> per la segnalazione e la raccolta dei rifiuti.<br>
            Se siete interessati potete conoscerci cliccando sulle immagini qui sotto
        </p>

        <div style="display: flex">
            <a href=""><img src="{logo_ala.png}" ></a>
            <a href="https://mindshub.it/"><img src="cid:124" ></a>
            <a href="https://www.comune.ala.tn.it/"><img src="cid:125" ></a>
        </div>

        <hr>

        <p class="firma">Team di sviluppo di Insigno</p>