<!DOCTYPE html>
<html>
    <body>
        <p>
        Buongiorno <b>{user}</b>.
        
        Abbiamo ricevuto la richiesta di creazione account per Insigno.<br>
        Se sei tu e vuoi usare questa mail clicca <a href="{link}"> Qui</a><br>

        Il link sarà valido per un ora, e poi sarà necessario richiedere un nuovo codice ripetendo la procedura di iscrizione.<br>
        Se invece non sei tu, verifica le tue credenziali e ignora questa mail.
        <hr>
        Questa mail è stata inviata da <b>Insigno</b>, l'applicazione di <b>MindsHUB A.P.S.</b> per la segnalazione e la raccolta dei rifiuti.
    </p>
    </body>
</html>