<!DOCTYPE html>
<html>
    <body>
        <p>
        Buongiorno <b>{user}</b>.
        
        Abbiamo ricevuto un tentativo di creazione account su Insigno.<br>
        Se siete voi e volete usare questa mail per la creazione del suddetto account potete cliccare <a href="{link}"> Qui</a><br>

        Il link sarà valido per un ora, e poi sarà necessario richiedere un nuovo codice ripetendo la procedura di iscrizione.<br>
        Se invece non eravate voi, ci dispiace, ma qualcuno sta facendo porcate con la vostra mail 😢.
        <hr>
        Questa mail è stata inviata da <b>Insigno</b>, l'applicazione di <b>MindsHUB A.P.S.</b> per la segnalazione e la raccolta dei rifiuti.
    </p>
    </body>
</html>